/* BETTER THAN @MEDIA FOR MORE RESPONSIVE LAYOUTS. BOTH USEFUL TOGETHER WHEN USED CORRECTLY */
/* CSS VARIABLES THAT CAN BE REUSED ANYWHERE ON CSS DOC; EXTREMELY GOOD FORM */
/* ":root" is short hand for a universal selector; any variable within it can be used anywhere in doc */
:root {
  /* DEFINING VARIABLES AND THEIR VALUES */
  /* 24px, 5.5% of viewport width + 1 rem = 71px (SCALES UP OR DOWN), 48px */ 
  /* viewport is based on the pixel size of the current screen
     it's a percentage based off of the px size of the current screen
     that automatically scales, in this case the header text, according to screen size
     since it's in clamp, it's a preferred value that essentially sizes up or sizes down
     according to if it's above or below the minimum/maximum rem/px value
     adding 1 rem to vw makes the static size a little bigger, regardless of scaling  */
  --heading-size: clamp(1.5rem, 5.5vw + 1rem, 5rem);
  /* universal variable to use as a value, in this case, centering for align-items and justify content 
  not sure if this is better than just manually applying it, but we'll see */
  --align-header-y: center;
  --align-header-x: center;
  --max-height: 100vh;
}


/* makes sure that all added padding or margin by the browser is removed 
allows for more control of sizing elements */

* /*targets all elements in the HTML doc */ {
  margin: 0;
  padding: 0;
}

/* header of the website */

#header {
text-align: center;
/* the header's text size is fully responsive thanks to "--heading-size" */
font-size: var(--heading-size);
color: red; /* color is red because the animation (@keyframes infColors) can only cycle through every color when it starts at red; requires the default color to be red */
font-family: sans-serif;
animation: infColors 5s linear infinite;
}

/* DIV AS THE BACKGROUND IMAGE OF THE WEBSITE. GREATEST DECISION, WAY BETTER THAN
USING THE ENTIRE BODY AS THE IMAGE/GIF */

#background-gif {
  background-image: url(personalization/9.gif);
  height: var(--max-height);
  overflow: hidden;
}

/* MOBILE LAYOUT */
/* anything under max-width of the page itself will have these conditions */
@media (max-width: 768px) {
  .header-container {
    align-items: var(--align-header-y);
    justify-content: var(--align-header-x);
  }
}
/* allows me to move the element that contains multiple elements while also manipulating the elements within said element */
/* it's not possible to center a div, or move anything in the div for that matter
without setting a specific height/width; i'm trying to center the div and its elements
to the middle of the page, but it's impossible without setting a specific height */
.header-container {
  display: flex;
  flex-direction: column;
  height: var(--max-height);
}

/* rainbow animation for title of website */

@keyframes infColors {
  from { /* start of an animation or 0% */
    filter: hue-rotate(0deg); /* goes through every single degree of the color wheel */
  }
  to { /* end of an animation or 100% */
    filter: hue-rotate(360deg);  /* goes through every single degree of the color wheel */
  }
}